<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 패키지 임포트

In [1]:
import numpy as np
import pandas as pd

# Series

`pd.Series`

*   한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스).
*   축(axis) 레이블을 가지고 있는 1차원 배열(np.ndarray)
    *   정수 기반의 인덱스와 축 레이블을 함께 갖음.

In [2]:
s = pd.Series([1, 3, -5, -7])  # pd.Series 생성자 호출 -> pd.Series 클래스의 인스턴스 생성

In [3]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.index  # pd.Series 객체의 index 속성 -> 축 레이블

RangeIndex(start=0, stop=4, step=1)

In [6]:
s.values  # pd.Series 객체의 values 속성 -> 값들로만 이루어진 np.ndarray

array([ 1,  3, -5, -7])

In [7]:
print(s.values)

[ 1  3 -5 -7]

## indexing, slicing

In [8]:
s[0]  # indexing

1

In [ ]:
# s[-1]  #> Error 발생

In [10]:
s[0:1]  # slicing --> pd.Series

0    1
dtype: int64

In [12]:
s[-2:]

2   -5
3   -7
dtype: int64

## `iloc` vs `loc`

*   `iloc`: 정수 인덱스 기반으로 원소를 참조.
*   `loc`: 축 레이블 기반으로 원소를 참조.

In [13]:
s.loc[0]

1

In [14]:
s.loc[3]

-7

In [15]:
s.iloc[0]

1

In [17]:
print(s.iloc[3])
print(s.iloc[-1])  #> 정수 인덱스 기반의 indexing에서만 음수 인덱스를 사용할 수 있음.

-7
-7

In [18]:
s.loc[0:1]  #> 레이블 기반 slicing - 시작과 끝 레이블 모두 포함!

0    1
1    3
dtype: int64

In [19]:
s.iloc[0:1]  #> 정수 인덱스 기반 slicing - 시작 인덱스 포함, 끝 인덱스는 미포함.

0    1
dtype: int64

In [20]:
s = pd.Series(data=[1, 3, -5, -7, 9],
              index=['a', 'b', 'x', 'y', 'z'])
s

a    1
b    3
x   -5
y   -7
z    9
dtype: int64

In [24]:
print(s.loc['a'])
print(s.loc['z'])
# print(s.loc[0])  # 0은 레이블에 포함되어 있지 않음!

1
9

In [25]:
s.index

Index(['a', 'b', 'x', 'y', 'z'], dtype='object')

In [26]:
print(s.loc['a':'b'])
print(s.loc['x':'z'])

a    1
b    3
dtype: int64
x   -5
y   -7
z    9
dtype: int64

In [30]:
print(s.iloc[0])
print(s.iloc[-1])
# print(s.iloc['a'])  # 정수가 아닌 키는 정수 인덱스(iloc)에서 사용 불가!

1
9

In [33]:
print(s.iloc[:2])
print(s.iloc[-3:])

a    1
b    3
dtype: int64
x   -5
y   -7
z    9
dtype: int64

## fancy indexing

In [35]:
numbers = [1, 2, 3, 4, 5, 6]  # list
print(numbers[0])  # indexing
print(numbers[2])  # indexing
print(numbers[0:2])  # slicing

1
3
[1, 2]

In [36]:
print(s)

a    1
b    3
x   -5
y   -7
z    9
dtype: int64

In [37]:
s.loc[['a', 'b', 'z']]

a    1
b    3
z    9
dtype: int64

In [38]:
s.iloc[[0, 1, 4]]

a    1
b    3
z    9
dtype: int64

## boolean indexing

In [39]:
s.loc[[True, True, False, False, True]]

a    1
b    3
z    9
dtype: int64

In [40]:
s.loc[[False, False, True, True, False]]

x   -5
y   -7
dtype: int64

In [41]:
s > 0

a     True
b     True
x    False
y    False
z     True
dtype: bool

In [42]:
s.loc[s > 0]  # s[s > 0]

a    1
b    3
z    9
dtype: int64

In [43]:
s.loc[s < 0]  # s[s < 0]

x   -5
y   -7
dtype: int64

# DataFrame

*   테이블 형식의 2차원 데이터 타입.
    *   행(row)과 열(column)을 가지고 있는 데이터 타입.

In [44]:
data = {
    'city': ['서울'] * 3 + ['경기'] * 3,  # ['서울', '서울', '서울', '경기', '경기', '경기']
    'year': [2020, 2021, 2022] * 2,       # [2020, 2021, 2022, 2020, 2021, 2022]
    'count': [0.8, 0.9, 0.95, 1.0, 1.2, 1.1]
}

In [45]:
df = pd.DataFrame(data)  # 생성자 호출 -> pd.DataFrame 클래스의 인스턴스 생성

In [46]:
print(df)

  city  year  count
0   서울  2020   0.80
1   서울  2021   0.90
2   서울  2022   0.95
3   경기  2020   1.00
4   경기  2021   1.20
5   경기  2022   1.10

In [47]:
df

  city  year  count
0   서울  2020   0.80
1   서울  2021   0.90
2   서울  2022   0.95
3   경기  2020   1.00
4   경기  2021   1.20
5   경기  2022   1.10

In [48]:
# pd.DataFrame 객체의 속성들
print('shape:', df.shape)      # (행의 개수, 열의 개수) tuple
print('index:', df.index)      # 행(row) 레이블
print('columns:', df.columns)  # 열(column) 레이블. 컬럼 이름.

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'count'], dtype='object')

In [49]:
print(df.values)  # DataFrame에 저장된 값들로만 이루어진 2차원 np.ndarray

[['서울' 2020 0.8]
 ['서울' 2021 0.9]
 ['서울' 2022 0.95]
 ['경기' 2020 1.0]
 ['경기' 2021 1.2]
 ['경기' 2022 1.1]]

## DataFrame에서 column 선택

*   `data_frame['column_name']`
*   `data_frame.column_name`
    *   컬럼 이름이 변수 이름 규칙에 맞지 않는 경우에는 사용할 수 없음.
        *   변수 이름은 영문자, 숫자, underscore(_)만 사용할 수 있음.
        *   변수 이름은 숫자로 시작할 수 없음.
        *   Python 키워드(def, class, if, for, ...)들은 변수 이름으로 사용할 수 없음.
    *   컬럼 이름이 DataFrame이 가지고 있는 속성(변수, 메서드) 이름들과 같은 경우에는 사용할 수 없음.

In [51]:
df['city']  # df에서 'city' 컬럼 선택 -> pd.Series

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [53]:
df.city

0    서울
1    서울
2    서울
3    경기
4    경기
5    경기
Name: city, dtype: object

In [54]:
df['count']  # df에서 'count' 컬럼 선택

0    0.80
1    0.90
2    0.95
3    1.00
4    1.20
5    1.10
Name: count, dtype: float64

In [55]:
df.count  # DataFrame의 메서드 이름과 같음. -> 컬럼 선택이 되지 않음!

<bound method DataFrame.count of   city  year  count
0   서울  2020   0.80
1   서울  2021   0.90
2   서울  2022   0.95
3   경기  2020   1.00
4   경기  2021   1.20
5   경기  2022   1.10>

In [56]:
df.count()  # pd.DataFrame.count() 메서드: 각 컬럼에 NA가 아닌 원소들의 개수를 리턴.

city     6
year     6
count    6
dtype: int64

In [57]:
df[['year', 'count']]  # 2개 이상의 컬럼 선택 -> pd.DataFrame

   year  count
0  2020   0.80
1  2021   0.90
2  2022   0.95
3  2020   1.00
4  2021   1.20
5  2022   1.10

In [58]:
df[['count']]  #> 컬럼이 1개인 DataFrame.

   count
0   0.80
1   0.90
2   0.95
3   1.00
4   1.20
5   1.10

## DataFrame에서 row 선택

*   `data_frame.loc[레이블]`
*   `data_frame.iloc[정수 기반 인덱스]`

In [60]:
df.loc[0]

city       서울
year     2020
count     0.8
Name: 0, dtype: object

In [61]:
df.iloc[0]

city       서울
year     2020
count     0.8
Name: 0, dtype: object

In [63]:
df.iloc[-1]

city       경기
year     2022
count     1.1
Name: 5, dtype: object

In [64]:
df.loc[:2]

  city  year  count
0   서울  2020   0.80
1   서울  2021   0.90
2   서울  2022   0.95

In [65]:
df.iloc[:2]

  city  year  count
0   서울  2020    0.8
1   서울  2021    0.9