<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da03_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 모듈 import

In [1]:
import pandas as pd    # DataFrame
import seaborn as sns  # 시각화

# 예제 데이터셋 가져오기

In [2]:
tips = sns.load_dataset('tips')
# seaborn github에 저장된 tips.csv 파일을 읽어서 DataFrame을 만듦.

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# Exercises

*   DataFrame의 row, column 개수
*   DataFrame의 컬럼 이름
*   DataFrame에서 첫 5개 row 출력
*   DataFrmae에서 마지막 5개 row 출력
*   DataFrame의 요약 정보 출력
*   DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
*   DataFrame에서 카테고리 타입 변수들의 빈도수 출력
*   total_bill 컬럼의 값이 최댓값인 행을 출력
*   total_bill 컬럼의 값이 최솟값인 행을 출력
*   남성(sex)들의 팁(tip)의 평균 출력
*   여성(sex)들의 팁(tip)의 평균 출력
*   일요일(day)의 팁(tip)의 평균 출력
*   일요일(day), 남성(sex)의 팁(tip)의 평균 출력
*   일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [4]:
tips.shape  #> (# of rows, # of columns) tuple

(244, 7)

In [6]:
print('# of rows:', tips.shape[0])
print('# of columns', tips.shape[1])

# of rows: 244
# of columns 7

In [10]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [11]:
for col in tips.columns:
    print(col)

total_bill
tip
sex
smoker
day
time
size

In [12]:
tips.iloc[:5]  # [0, 5) 범위의 인덱스

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
tips.loc[:4]  # [0, 4] 범위의 레이블

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips.head(n=5)  # 파라미터 n의 기본값은 5이므로 argument는 생략 가능.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
tips.iloc[-5:]  # 마지막 5개 row들을 선택

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [18]:
tips.info()  # DataFrame의 요약 정보(summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [19]:
tips.describe()  # 기술 통계량(Non-Null 개수, 평균, 표준편차, 4사분위값, ...)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [20]:
tips['sex'].value_counts()  # 빈도수의 내림차순(descending order) 정렬로 보여줌.

Male      157
Female     87
Name: sex, dtype: int64

In [21]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [22]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [23]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [24]:
tips['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [26]:
tips['total_bill'].max()

50.81

In [27]:
tips[tips['total_bill'] == 50.81]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [28]:
tips[tips['total_bill'] == tips['total_bill'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [29]:
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [30]:
tips_male = tips[tips['sex'] == 'Male']
tips_male

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]

In [31]:
tips_male['tip'].mean()

3.0896178343949052

In [32]:
tips_female = tips[tips.sex == 'Female']
tips_female

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [33]:
tips_female.tip.mean()

2.833448275862069

In [37]:
tips[tips.sex == 'Male'].tip.mean()

3.0896178343949052

In [40]:
tips[tips['sex'] == 'Female']['tip'].mean()

2.833448275862069

In [43]:
tips.loc[tips.sex == 'Male', 'tip'].mean()

3.0896178343949052

In [45]:
tips.iloc[:3, :2]  # 앞에서 3개의 row와 앞에서 2개의 column을 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50

In [48]:
tips.loc[:3, ['total_bill', 'tip']]  # 앞에서부터 레이블 3번까지 행, total_bill과 tip column 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31

In [49]:
tips_sunday = tips[tips['day'] == 'Sun']
tips_sunday

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 7 columns]

In [50]:
tips_sunday['tip'].mean()

3.255131578947369

In [53]:
tips[tips.day == 'Sun'].tip.mean()

3.255131578947369

In [55]:
tips_sunday[tips_sunday.sex == 'Male'].tip.mean()

3.2203448275862083

In [56]:
tips_sunday[tips_sunday['sex'] == 'Female']['tip'].mean()

3.3672222222222223

In [58]:
tips[(tips['day'] == 'Sun') & (tips['sex'] == 'Male')]['tip'].mean()

3.2203448275862083

In [60]:
tips[(tips.day == 'Sun') & (tips.sex == 'Female')].tip.mean()

3.3672222222222223

# Titanic 데이터 셋

In [61]:
titanic = sns.load_dataset('titanic')

In [62]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

titanic 데이터 프레임의 컬럼들:

*   survived: 생존 여부(0: 사망, 1: 생존)
    *   alive 컬럼과 같은 내용.(0=no, 1=yes)
*   pclass: 객실 등급
    *   class 컬럼과 같은 내용.(1=First, 2=Second, ...)
*   sex: 성별(male, female)
*   who: 성인남성(man), 성인여성(woman), 아동(child)
*   age: 나이
*   sibsp: 동승한 형제자매 또는 배우자 수
*   parch: 동승한 부모 또는 자녀 수
*   fare: 탑승권 가격

In [63]:
# 요약 정보
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [64]:
# 생존자/사망자 숫자
titanic['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [65]:
titanic.alive.value_counts()

no     549
yes    342
Name: alive, dtype: int64

In [68]:
titanic[titanic.alive == 'yes'].shape[0]

342

In [69]:
len(titanic[titanic.alive == 'yes'])  # len(data_frame): row 개수를 리턴.

342

In [70]:
# 남성/여성 숫자
titanic['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [71]:
titanic.who.value_counts()

man      537
woman    271
child     83
Name: who, dtype: int64

In [74]:
len(titanic[titanic.sex == 'male'])

577

In [78]:
# 객실 등급의 승객 숫자
titanic.pclass.value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [81]:
titanic['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [84]:
# 생존자 비율 = 생존자 수 / 전체 승객 수
no_alives = len(titanic[titanic.alive == 'yes'])
no_passengers = len(titanic)
no_alives / no_passengers

0.3838383838383838

In [86]:
# 사망자 비율 = 사망자 수 / 전체 승객 수
no_deads = len(titanic[titanic.alive == 'no'])
no_deads / no_passengers

0.6161616161616161

In [90]:
titanic['alive'].value_counts() / no_passengers

no     0.616162
yes    0.383838
Name: alive, dtype: float64

In [91]:
# 생존자들로만 이루어진 데이터 프레임
alives_df = titanic[titanic.alive == 'yes']
alives_df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [92]:
# 생존자들 중에서 남성 생존자 승객 비율
len(alives_df[alives_df.sex == 'male']) / len(alives_df)

0.31871345029239767

In [93]:
# 생존자들 중에서 여성 생존자 승객 비율
len(alives_df[alives_df.sex == 'female']) / len(alives_df)

0.6812865497076024

In [96]:
alives_df.sex.value_counts() / len(alives_df)

female    0.681287
male      0.318713
Name: sex, dtype: float64

In [99]:
# 남성 승객들로 이루어진 DataFrame
male_df = titanic[titanic.sex == 'male']

# 남성 승객들 중에서 남성 생존자 비율
male_df.alive.value_counts() / len(male_df)

no     0.811092
yes    0.188908
Name: alive, dtype: float64

In [101]:
len(male_df[male_df.alive == 'yes']) / len(male_df)

0.18890814558058924

In [104]:
# 여성 승객들로만 이루어진 DataFrame
female_df = titanic[titanic.sex == 'female']

# 여성 승객들 중에서 여성 생존자 비율
female_df.alive.value_counts() / len(female_df)

yes    0.742038
no     0.257962
Name: alive, dtype: float64

In [107]:
# 생존자들 중에서 각 객실별 생존자 비율
alives_df.pclass.value_counts() / len(alives_df)

1    0.397661
3    0.347953
2    0.254386
Name: pclass, dtype: float64

In [111]:
# 1등급 객실 승객들로만 이루어진 DataFrame
first_class_df = titanic[titanic.pclass == 1]

# 1등급 객실 승객들 중에서 생존자 비율
first_class_df.alive.value_counts() / len(first_class_df)

yes    0.62963
no     0.37037
Name: alive, dtype: float64

In [114]:
# 3등급 객실 승객들로만 이루어진 DataFrame
third_class_df = titanic[titanic.pclass == 3]

# 3등급 객실 승객 중 생존/사망 비율
third_class_df.alive.value_counts() / len(third_class_df)

no     0.757637
yes    0.242363
Name: alive, dtype: float64

In [116]:
# 12세 미만의 승객수
under12_df = titanic[titanic.age < 12]
len(under12_df)

68

In [118]:
# 12세 미만 승객들 중에서 생존자 비율
under12_df.alive.value_counts() / len(under12_df)

yes    0.573529
no     0.426471
Name: alive, dtype: float64