<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da03_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 모듈 import

In [1]:
import pandas as pd    # DataFrame
import seaborn as sns  # 시각화

# 예제 데이터셋 가져오기

In [2]:
tips = sns.load_dataset('tips')
# seaborn github에 저장된 tips.csv 파일을 읽어서 DataFrame을 만듦.

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# Exercises

*   DataFrame의 row, column 개수
*   DataFrame의 컬럼 이름
*   DataFrame에서 첫 5개 row 출력
*   DataFrmae에서 마지막 5개 row 출력
*   DataFrame의 요약 정보 출력
*   DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
*   DataFrame에서 카테고리 타입 변수들의 빈도수 출력
*   total_bill 컬럼의 값이 최댓값인 행을 출력
*   total_bill 컬럼의 값이 최솟값인 행을 출력
*   남성(sex)들의 팁(tip)의 평균 출력
*   여성(sex)들의 팁(tip)의 평균 출력
*   일요일(day)의 팁(tip)의 평균 출력
*   일요일(day), 남성(sex)의 팁(tip)의 평균 출력
*   일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [4]:
tips.shape  #> (# of rows, # of columns) tuple

(244, 7)

In [6]:
print('# of rows:', tips.shape[0])
print('# of columns', tips.shape[1])

# of rows: 244
# of columns 7

In [10]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [11]:
for col in tips.columns:
    print(col)

total_bill
tip
sex
smoker
day
time
size

In [12]:
tips.iloc[:5]  # [0, 5) 범위의 인덱스

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
tips.loc[:4]  # [0, 4] 범위의 레이블

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips.head(n=5)  # 파라미터 n의 기본값은 5이므로 argument는 생략 가능.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
tips.iloc[-5:]  # 마지막 5개 row들을 선택

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [18]:
tips.info()  # DataFrame의 요약 정보(summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [19]:
tips.describe()  # 기술 통계량(Non-Null 개수, 평균, 표준편차, 4사분위값, ...)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [20]:
tips['sex'].value_counts()  # 빈도수의 내림차순(descending order) 정렬로 보여줌.

Male      157
Female     87
Name: sex, dtype: int64

In [21]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [22]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [23]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [24]:
tips['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64