<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da07_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 라이브러리 import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# 데이터 셋 준비

In [2]:
gapminder = px.data.gapminder()

gapminder 데이터 프레임

*   1952년 ~ 2007년 5년 단위로 조사한 통계값.
*   컬럼(변수)
    *   country: 국가 이름
    *   continent: 대륙 이름
    *   year: 연도
    *   lifeExp: 기대 수명
    *   pop: 인구 수
    *   gpdPercap: 1인당 GDP

# 데이터 탐색

In [3]:
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [4]:
gapminder.tail()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [5]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

Exercise:

*   숫자 타입 변수들의 기술 통계량
*   카테고리 타입 변수들의 빈도수
*   국가 이름 개수
*   대륙 이름 개수
*   연도 개수
*   DataFrame에서 국가, 연도, 1인당 GDP 컬럼을 선택
*   DataFrame에서 1인당 GDP의 최댓값
*   DataFrame에서 1인당 GDP의 최댓값인 행(들)을 출력
*   DataFrame에서 1인당 GDP의 최솟값
*   DataFrame에서 1인당 GDP의 최솟값인 행(들)을 출력
*   DataFrame에서 1인당 GDP의 최댓값 또는 최솟값인 행들을 출력
*   DataFrame에서 기대수명의 최솟값, 최댓값 출력
*   DataFrame에서 기대수명의 최솟값 또는 최댓값인 행들을 출력
*   연도별 기대 수명의 평균을 출력, 시각화
*   연도별 1인당 GDP의 평균을 출력, 시각화
*   연도별 전세계 인구수를 출력, 시각화
*   연도별 대륙별 인구수를 출력, 시각화