<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da07_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 라이브러리 import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# 데이터 셋 준비

In [2]:
gapminder = px.data.gapminder()

gapminder 데이터 프레임

*   1952년 ~ 2007년 5년 단위로 조사한 통계값.
*   컬럼(변수)
    *   country: 국가 이름
    *   continent: 대륙 이름
    *   year: 연도
    *   lifeExp: 기대 수명
    *   pop: 인구 수
    *   gpdPercap: 1인당 GDP

# 데이터 탐색

In [3]:
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [4]:
gapminder.tail()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [5]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

Exercise:

*   숫자 타입 변수들의 기술 통계량
*   카테고리 타입 변수들의 빈도수
*   국가 이름 개수
*   대륙 이름 개수
*   연도 개수
*   DataFrame에서 국가, 연도, 1인당 GDP 컬럼을 선택
*   DataFrame에서 1인당 GDP의 최댓값
*   DataFrame에서 1인당 GDP의 최댓값인 행(들)을 출력
*   DataFrame에서 1인당 GDP의 최솟값
*   DataFrame에서 1인당 GDP의 최솟값인 행(들)을 출력
*   DataFrame에서 1인당 GDP의 최댓값 또는 최솟값인 행들을 출력
*   DataFrame에서 기대수명의 최솟값, 최댓값 출력
*   DataFrame에서 기대수명의 최솟값 또는 최댓값인 행들을 출력
*   연도별 기대 수명의 평균을 출력, 시각화
*   연도별 1인당 GDP의 평균을 출력, 시각화
*   연도별 전세계 인구수를 출력, 시각화
*   연도별 대륙별 인구수를 출력, 시각화

## 기술 통계량

In [6]:
gapminder.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165876     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [8]:
gapminder[['lifeExp', 'pop', 'gdpPercap']].describe()

           lifeExp           pop      gdpPercap
count  1704.000000  1.704000e+03    1704.000000
mean     59.474439  2.960121e+07    7215.327081
std      12.917107  1.061579e+08    9857.454543
min      23.599000  6.001100e+04     241.165876
25%      48.198000  2.793664e+06    1202.060309
50%      60.712500  7.023596e+06    3531.846989
75%      70.845500  1.958522e+07    9325.462346
max      82.603000  1.318683e+09  113523.132900

## 카테고리 타입 빈도수

In [9]:
gapminder['country'].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [10]:
gapminder['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [11]:
gapminder['iso_alpha'].value_counts()

KOR    24
AFG    12
PAK    12
NZL    12
NIC    12
       ..
GNQ    12
SLV    12
EGY    12
ECU    12
ZWE    12
Name: iso_alpha, Length: 141, dtype: int64

## 중복되지 않는 값 찾기

In [13]:
countries = gapminder['country'].unique()

In [14]:
len(countries)

142

In [15]:
continents = gapminder['continent'].unique()
continents

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [17]:
len(continents)

5

In [18]:
years = gapminder['year'].unique()
years

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007])

In [19]:
len(years)

12

## 컬럼 선택

In [20]:
gapminder['country']  #> Series -> 1차원 데이터 타입

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [21]:
gapminder[['country']]  #> DataFrame -> 2차원 데이터 타입

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [22]:
gapminder[['country', 'year', 'gdpPercap']]

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

## 조건을 만족하는 레코드

In [23]:
# 1인당 GDP 최댓값
gapminder['gdpPercap'].max()

113523.1329

In [24]:
gapminder[gapminder.gdpPercap == gapminder.gdpPercap.max()]

    country continent  year  lifeExp     pop    gdpPercap iso_alpha  iso_num
853  Kuwait      Asia  1957   58.033  212846  113523.1329       KWT      414

In [25]:
# 1인당 GDP 최솟값
gapminder['gdpPercap'].min()

241.1658765

In [26]:
gapminder[gapminder.gdpPercap == gapminder.gdpPercap.min()]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
334,"Congo, Dem. Rep.",Africa,2002,44.966,55379852,241.165876,COD,180

In [27]:
gapminder[(gapminder.gdpPercap == gapminder.gdpPercap.max()) | 
          (gapminder.gdpPercap == gapminder.gdpPercap.min())]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
334,"Congo, Dem. Rep.",Africa,2002,44.966,55379852,241.165876,COD,180
853,Kuwait,Asia,1957,58.033,212846,113523.132900,KWT,414

In [28]:
gdp_max = gapminder.gdpPercap.max()
gdp_min = gapminder.gdpPercap.min()
gapminder[gapminder.gdpPercap.isin([gdp_max, gdp_min])]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
334,"Congo, Dem. Rep.",Africa,2002,44.966,55379852,241.165876,COD,180
853,Kuwait,Asia,1957,58.033,212846,113523.132900,KWT,414

In [ ]:
# 2007년에서 1인당 GDP가 최대인 국가, 최소인 국가.