<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da08_str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame의 문자열 컬럼 다루기

# 필요한 라이브러리 import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 셋

In [2]:
# GitHub에 저장된 파일 경로
movies_dat = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'

In [5]:
movies = pd.read_csv(movies_dat,  # 데이터 파일 이름 & 저장 경로
                     sep='::',  # 구분자(separator): 값들을 구분하는 문자(열). 기본값은 comma.
                     names=['movie_id', 'title', 'genres'],  # 컬럼 이름. 파일 첫번째 줄에 컬럼 이름이 없는 경우.
                     engine='python')  # ParseWarning을 제거하기 위해서.
movies

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller