<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/da13_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSON

*   JSON(JavaScript Object Notation): 자바스크립트 객체 표현법.
*   `{key1: value1, key2: value2, ...}` 형식의 문자열
*   Python의 `dict` 클래스 객체의 문자열 표현과 비슷.
*   `json` 모듈: JSON 형식 문자열(str) <---> `dict` 타입 객체(object)
    *   `json.dumps(obj)`: Python 객체 obj를 JSON 형식의 문자열로 변환(serialization, 직렬화)해서 리턴.
    *   `json.loads(s)`: JSON 형식의 문자열 s를 Python 객체로 변환(de-serialization, 역직렬화)해서 리턴.
    *   `json.dump(obj, fp)`: Python 객체 obj를 문자열로 변환해서 파일 fp에 씀(write).
    *   `json.load(fp)`: 파일 fp에서 JSON 형식의 문자열을 읽어서 Python 객체로 변환하고 리턴.

# Imports

In [1]:
import json  # JSON 읽기/쓰기 기능을 가지고 있는 파이썬 모듈
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Serialization

In [2]:
# 직렬화: Python 객체 ---> JSON 문자열
person = {
    'name': '홍길동',
    'age': 16,
    'phones': ['02-0000-0000', '010-1111-1111']
}

In [4]:
type(person)  #> dict 타입(객체)

dict

In [5]:
person_json = json.dumps(person)
person_json

'{"name": "\\ud64d\\uae38\\ub3d9", "age": 16, "phones": ["02-0000-0000", "010-1111-1111"]}'

In [6]:
type(person_json)  #> str 타입(문자열)

str

# Deserialization

In [7]:
# 역직렬화: JSON 형식의 문자열 ---> Python 객체(object)
result = json.loads(person_json)
result

{'age': 16, 'name': '홍길동', 'phones': ['02-0000-0000', '010-1111-1111']}

In [8]:
type(result)

dict

# JSON 파일 쓰기(write)/읽기(read)

*   pickle: binary(이진) 파일 읽기/쓰기
*   json: text(텍스트) 파일 읽기/쓰기

In [10]:
with open('gildong.json', mode='wt') as f:  # 파일을 '텍스트 쓰기' 모드로 오픈.
    # mode='rt'기본값, mode='w'와 mode='wt'는 같은 의미.
    f.write(json.dumps(person))  # person 객체를 JSON 문자열로 변환 후 파일에 씀(write).
    # with-as 구문 종료 후에는 f.close() 자동으로 호출됨.

In [12]:
with open('gildong.json') as f:  # 파일을 '텍스트 읽기(rt)' 모드로 오픈.
    # mode='rt'가 기본값이므로 생략 가능.
    line = f.readline()  # 파일의 첫번째 줄(line)을 읽음.
    print(line)
    obj = json.loads(line)  # 파일에서 읽은 문자열을 객체로 변환
    print(obj)

{"name": "\ud64d\uae38\ub3d9", "age": 16, "phones": ["02-0000-0000", "010-1111-1111"]}
{'name': '홍길동', 'age': 16, 'phones': ['02-0000-0000', '010-1111-1111']}

In [13]:
file_name = 'movies.txt'
with open(file_name, mode='w') as f:
    # dict 객체 생성
    movie1 = {'mid': 1, 'title': '브로커', 'genre': 'drama'}
    movie2 = {'mid': 2, 'title': '범죄도시2', 'genre': 'action'}
    movie3 = {'mid': 3, 'title': '짱구는 못말려', 'genre': 'animation'}
    # dict 객체 ---> JSON 문자열
    m1_s = json.dumps(movie1)
    m2_s = json.dumps(movie2)
    m3_s = json.dumps(movie3)
    # 3개의 문자열을 한 줄씩 파일에 write
    f.write(m1_s + '\n')
    f.write(m2_s + '\n')
    f.write(m3_s + '\n')

In [16]:
# movies.txt 파일에서 한 줄씩 읽으면서, 읽은 문자열을 dict 객체로 변환하고 리스트에 추가.
movies = []
with open(file_name, mode='rt') as f:
    for line in f:
        obj = json.loads(line.strip())
        movies.append(obj)

movies

[{'genre': 'drama', 'mid': 1, 'title': '브로커'},
 {'genre': 'action', 'mid': 2, 'title': '범죄도시2'},
 {'genre': 'animation', 'mid': 3, 'title': '짱구는 못말려'}]

In [17]:
# list comprehension
with open(file_name) as f:
    movies = [json.loads(line.strip()) for line in f]

movies

[{'genre': 'drama', 'mid': 1, 'title': '브로커'},
 {'genre': 'action', 'mid': 2, 'title': '범죄도시2'},
 {'genre': 'animation', 'mid': 3, 'title': '짱구는 못말려'}]

In [18]:
df = pd.DataFrame(movies)
df

   mid    title      genre
0    1      브로커      drama
1    2    범죄도시2     action
2    3  짱구는 못말려  animation