<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/ml01_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# `np.ndarray` 속성(attribute)

In [2]:
arr = np.ones(shape=(2, 3))  # 모든 원소의 값이 1.0인 (2, 3) 모양의 배열
print(arr)

[[1. 1. 1.]
 [1. 1. 1.]]

In [3]:
arr.dtype  # 배열의 원소들의 데이터 타입

dtype('float64')

In [4]:
arr.shape  # 모양(shape): 배열의 각 축(axis)을 따라서 있는 원소의 개수 -> tuple

(2, 3)

In [5]:
arr.ndim  # 차원(dimension): 배열의 축의 개수.

2

In [6]:
arr.size  # 크기: 배열의 원소 전체 개수

6

In [7]:
arr = np.arange(10)  # [0, 10) 범위의 정수들로 이루어진 1차원 배열.
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [8]:
arr.shape

(10,)

In [9]:
arr.ndim

1

In [11]:
arr = np.arange(1, 25).reshape((2, 3, 4))
print(arr)

[[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]]

 [[13 14 15 16]
  [17 18 19 20]
  [21 22 23 24]]]

In [12]:
arr.ndim

3

In [13]:
arr.shape

(2, 3, 4)

In [14]:
arr.dtype

dtype('int64')

# indexing

In [15]:
print(arr)  #> 3차원 배열

[[[ 1  2  3  4]
  [ 5  6  7  8]
  [ 9 10 11 12]]

 [[13 14 15 16]
  [17 18 19 20]
  [21 22 23 24]]]

In [16]:
print(arr[0])  #> 2차원 배열

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [17]:
print(arr[0, 0])  #> 1차원 배열  # arr[0][0]

[1 2 3 4]

In [18]:
print(arr[0, 0, 0])  #> 원소(scalar)  # arr[0][0][0]

1


*   Python list의 인덱스 사용 방법: `list[i][j]...`
*   numpy ndarray의 인덱스 사용 방법:
    * `array[i][j]...`
    * `array[i, j, ...]`

# slicing

## 1차원 배열 slicing

In [19]:
np.random.seed(1)
arr = np.random.randint(100, size=10)  # [0, 100) 범위의 정수 난수 10개로 이루어진 1차원 배열.
print(arr)

[37 12 72  9 75  5 79 64 16  1]

In [20]:
print(arr[1:5])  # [1, 5) 인덱스의 원소들로 이루어진 "1차원 배열"

[12 72  9 75]

In [21]:
print(arr[:3])  # 배열에서 첫 3개의 원소들을 slicing

[37 12 72]

In [22]:
print(arr[-3:])  # 배열에서 마지막 3개의 원소들을 slicing

[64 16  1]

In [23]:
print(arr[0:1])  #> 1차원 배열을 slicing ==> "1차원 배열"!

[37]

In [24]:
print(arr[0])  # indexing: 원소 1개 선택.

37

## 2차원 배열 slicing

In [25]:
arr = np.arange(20).reshape((4, 5))
print(arr)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

In [26]:
# 첫 2개 row 선택, 모든 column 선택
print(arr[:2, :])

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [27]:
# 첫 2개의 row 선택, 첫 3개의 column 선택
print(arr[:2, :3])

[[0 1 2]
 [5 6 7]]

In [28]:
print(arr[:1, :1])  #> 2차원 배열!

[[0]]

In [30]:
print(arr[:2])  # arr[:2, :]

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [29]:
print(arr[:2][:3])

[[0 1 2 3 4]
 [5 6 7 8 9]]

## 3차원 배열 slicing

In [31]:
arr = np.arange(60).reshape((3, 4, 5))
print(arr)

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]]

 [[20 21 22 23 24]
  [25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]]

 [[40 41 42 43 44]
  [45 46 47 48 49]
  [50 51 52 53 54]
  [55 56 57 58 59]]]

In [32]:
print(arr[:2, :, :])

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]]

 [[20 21 22 23 24]
  [25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]]]

In [33]:
print(arr[:2])

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]]

 [[20 21 22 23 24]
  [25 26 27 28 29]
  [30 31 32 33 34]
  [35 36 37 38 39]]]

In [34]:
print(arr[:1, :, :])  # 3차원 배열 slicing ==> 3차원 배열

[[[ 0  1  2  3  4]
  [ 5  6  7  8  9]
  [10 11 12 13 14]
  [15 16 17 18 19]]]

In [35]:
print(arr[0, :, :])  # arr[0]  # 2차원 배열

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

In [38]:
arr = np.arange(12).reshape((3, 4))
print(arr)
print(arr[0])
print(arr[0, 0])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[0 1 2 3]
0

# Shape 변경


*   `np.ndarray.reshape(shape)`
*   `np.ndarray.ravel()`
*   `np.ndarray.flatten()`
*   `np.newaxis` 이용

## reshape

In [39]:
arr_1d = np.arange(12)
print(arr_1d)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [41]:
# arr_1d를 (4, 3) shape의 2차원 배열로 변환
arr_2d = arr_1d.reshape((4, 3))
print(arr_2d)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [42]:
# reshape의 argument를 전달할 때 자동으로 계산될 수 있는 차원에는 -1을 사용할 수 있음.
arr_2d = arr_1d.reshape((4, -1))
print(arr_2d)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [43]:
arr_2d = arr_1d.reshape((-1, 4))
print(arr_2d)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [44]:
# 2차원 배열 -> 1차원 배열
result = arr_2d.reshape((3 * 4,))
print(result)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [45]:
result = arr_2d.reshape((-1,))
print(result)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

## `ravel` vs `flatten`

In [46]:
print(arr_2d)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [47]:
flattened = arr_2d.flatten()  
# 1차원으로 변환된 배열 "복사본"을 리턴. 
# -> 원본(2차원) 배열과 별개의 배열을 만들어서 리턴.
print(flattened)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [48]:
flattened[0] = 123  # 변환된 1차원 배열의 원소를 변경
print(flattened)

[123   1   2   3   4   5   6   7   8   9  10  11]

In [49]:
print(arr_2d)  # 원본 2차원 배열의 원소에는 영향을 미치지 않음.

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [50]:
raveled = arr_2d.ravel()
# 1차원으로 변환된 배열의w"를  "Vie리턴.
# -> 원본(2차원) 배열을 단지 모양만 다르게 보여줌.
print(raveled)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [52]:
raveled[0] = 123  # 1차원 배열의 원소를 변경
print(raveled)

[123   1   2   3   4   5   6   7   8   9  10  11]

In [53]:
print(arr_2d)  # 원본(2차원) 배열의 원소에 영향을 미침!

[[123   1   2   3]
 [  4   5   6   7]
 [  8   9  10  11]]

## `np.newaxis` 속성을 사용한 차원 늘리기

In [55]:
arr = np.arange(5)  # (5,) shape의 1차원 배열
print(arr)
print('ndim:', arr.ndim)
print('shape:', arr.shape)

[0 1 2 3 4]
ndim: 1
shape: (5,)

In [57]:
# arr을 (1, 5) shape의 2차원 배열로 변환
result = arr.reshape((1, -1))  # shape=(1, 5)
print(result)

[[0 1 2 3 4]]

In [59]:
result = arr[np.newaxis, :]
print(result)

[[0 1 2 3 4]]

In [58]:
# arr을 (5, 1) shape의 2차원 배열로 변환
result = arr.reshape((-1, 1))  # shape=(5, 1)
print(result)

[[0]
 [1]
 [2]
 [3]
 [4]]

In [60]:
result = arr[:, np.newaxis]
print(result)

[[0]
 [1]
 [2]
 [3]
 [4]]

In [61]:
print(arr_2d)

[[123   1   2   3]
 [  4   5   6   7]
 [  8   9  10  11]]

In [62]:
result = arr_2d[np.newaxis, :, :]
print(result)

[[[123   1   2   3]
  [  4   5   6   7]
  [  8   9  10  11]]]

In [63]:
result = arr_2d[:, :, np.newaxis]
print(result)

[[[123]
  [  1]
  [  2]
  [  3]]

 [[  4]
  [  5]
  [  6]
  [  7]]

 [[  8]
  [  9]
  [ 10]
  [ 11]]]

# concatenate


*   `np.concatenate([array1, array2, ...], axis=0)`: 특정 axis(축) 방향으로 이어 붙이기.
*   `np.r_[array1, array2]`: 행(row) 이어 붙이기.
*   `np.c_[array1, array2]`: 열(column) 이어 붙이기.

In [64]:
# (2, 3) shape 2-d 배열
a1 = np.arange(6).reshape((2, 3))
print(a1)

[[0 1 2]
 [3 4 5]]

In [66]:
# (1, 3) shape 2-d 배열
a2 = np.array([[10, 20, 30]])
print(a2)

[[10 20 30]]

In [67]:
# (2, 1) shape 2-d 배열
a3 = np.array([[11], [22]])
print(a3)

[[11]
 [22]]

In [68]:
np.concatenate([a1, a2], axis=0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [10, 20, 30]])

In [69]:
np.r_[a1, a2]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [10, 20, 30]])

In [70]:
np.concatenate([a1, a3], axis=1)

array([[ 0,  1,  2, 11],
       [ 3,  4,  5, 22]])

In [71]:
np.c_[a1, a3]

array([[ 0,  1,  2, 11],
       [ 3,  4,  5, 22]])

# Broadcasting


*   `np.ndarray`의 산술 연산(+, -, *, /, ...)은 같은 위치(인덱스)의 원소들끼리(element-wise) 연산이 수행됨.
*   서로 다른 shape을 갖는 배열들끼리 산술 연산이 가능한 경우. -> broadcast 가능.

In [ ]:
a = np.array([1, 2, 3])     # (3,) shape의 1d 배열
b = np.array([1, 2, 3, 4])  # (4,) shape의 1d 배열
# a + b
#> ValueError 발생 - broadcast가 불가능.

## ndarray와 scalar의 연산

In [74]:
a + 10

array([11, 12, 13])

In [75]:
a2 = np.arange(6).reshape((2, 3))
print(a2)

[[0 1 2]
 [3 4 5]]

In [77]:
a2 + 10

array([[10, 11, 12],
       [13, 14, 15]])

# 2d 배열과 1d 배열, 또는 2d 배열과 2d 배열에서의 broadcast

In [78]:
a = np.arange(6).reshape((2, 3))  # (2, 3)
print(a)
b = np.arange(10, 40, 10)  # (3,)
print(b)

[[0 1 2]
 [3 4 5]]
[10 20 30]

In [79]:
a + b
# (3,) shape 1d --> (1, 3) shape 2d --> (2, 3) shape broadcast

array([[10, 21, 32],
       [13, 24, 35]])

In [ ]:
c = np.array([10, 20])
# a + c
#> ValueError: broadcast가 불가능한 경우.

In [81]:
d = c[:, np.newaxis]
print(d)

[[10]
 [20]]

In [82]:
a + d

array([[10, 11, 12],
       [23, 24, 25]])

## broadcast 활용


*   표준화(standardization): 평균이 0이 되고, 표준편차가 1이 되도록 변수들의 스케일을 변환하는 것.
*   정규화(normalization): 최솟값이 0이 되고, 최댓값이 1이 되도록 변수들의 스케일을 변환하는 것. min-max-scaling

## 표준화

In [83]:
x = np.array([1, 2, 3, 4, 5])

In [84]:
mu = np.mean(x)  # 평균
print(mu)

3.0

In [85]:
sigma = np.std(x)  # 표준편차
print(sigma)

1.4142135623730951

In [86]:
x_scaled = (x - mu) / sigma
print(x_scaled)

[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

In [87]:
print('평균:', np.mean(x_scaled))
print('표준편차:', np.std(x_scaled))

평균: 0.0
표준편차: 0.9999999999999999

## 정규화

In [89]:
x_max = np.max(x)
x_min = np.min(x)
print('max:', x_max, ', min:', x_min)

max: 5 , min: 1

In [90]:
x_scaled = (x - x_min) / (x_max - x_min)
print(x_scaled)

[0.   0.25 0.5  0.75 1.  ]

## 2차원 배열에서의 표준화, 정규화

In [91]:
# (3, 2)
x = np.arange(1, 7).reshape((3, 2))
print(x)

[[1 2]
 [3 4]
 [5 6]]

In [92]:
np.mean(x)  # axis=None(기본값)

3.5

In [94]:
np.mean(x, axis=0)  # (1, 3, 5)의 평균, (2, 4, 6)의 평균

array([3., 4.])

In [97]:
np.mean(x, axis=0, keepdims=True)

array([[3., 4.]])

In [95]:
np.mean(x, axis=1)  # (1, 3)의 평균, (3, 4)의 평균, (5, 6)의 평균

array([1.5, 3.5, 5.5])

In [96]:
np.mean(x, axis=1, keepdims=True)

array([[1.5],
       [3.5],
       [5.5]])

In [98]:
# 표준화
mu = np.mean(x, axis=0, keepdims=True)  # 평균
sigma = np.std(x, axis=0, keepdims=True)  # 표준편차
x_scaled = (x - mu) / sigma
print(x_scaled)

[[-1.22474487 -1.22474487]
 [ 0.          0.        ]
 [ 1.22474487  1.22474487]]

In [99]:
# 정규화
x_max = np.max(x, axis=0, keepdims=True)  # 최댓값
x_min = np.min(x, axis=0, keepdims=True)  # 최솟값
x_scaled = (x - x_min) / (x_max - x_min)
print(x_scaled)

[[0.  0. ]
 [0.5 0.5]
 [1.  1. ]]

In [101]:
df = pd.DataFrame(x, columns=['length', 'width'])
df

   length  width
0       1      2
1       3      4
2       5      6

In [102]:
df.mean(axis=0)

length    3.0
width     4.0
dtype: float64

In [103]:
df.mean(axis=1)

0    1.5
1    3.5
2    5.5
dtype: float64

In [106]:
df.drop(labels=1, axis=0)  # axis: label이 있는 축.

   length  width
0       1      2
2       5      6

In [107]:
df.drop(index=1)

   length  width
0       1      2
2       5      6

In [108]:
df.drop(labels='length', axis=1)

   width
0      2
1      4
2      6

In [109]:
df.drop(columns='length')

   width
0      2
1      4
2      6

## Exercise

*   seaborn 패키지의 iris 데이터 셋을 로드.
*   iris DataFrame에서 species 컬럼을 삭제.
*   위 DataFrame의 값들로만 이루어진 2차원 배열을 만듦.
*   같은 변수(컬럼)끼리 표준화, 정규화.