<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python15_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배경 설명

## list, dict, 반복문 사용

In [10]:
students = [
            {'name': 'Aaa', 'korean': 100, 'english': 95, 'math': 90},
            {'name': 'Bbb', 'korean': 50, 'english': 100, 'math': 70},
            {'name': 'Ccc', 'korean': 80, 'english': 88, 'math': 20},
            {'name': 'Ddd', 'korean': 100, 'english': 100, 'math': 100}
]

In [11]:
# students에 있는 각 학생들의 총점과 평균을 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']  # 학생의 세 과목 총점
    mean = total / 3  # 학생의 세 과목 평균 점수
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: Aaa, 총점: 285, 평균: 95.0
이름: Bbb, 총점: 220, 평균: 73.33333333333333
이름: Ccc, 총점: 188, 평균: 62.666666666666664
이름: Ddd, 총점: 300, 평균: 100.0

위 코드의 문제점은 dict의 key가 학생마다 다르게 들어간 경우 에러가 발생할 수 있음.

학생 한 명에 대한 dict를 함수를 사용해서 항상 동일한 key를 갖도록 만들면 되지 않을까?

## 함수형 프로그래밍(Functional Programming)

In [12]:
def create_student(name, korean, english, math):
    student = {'name': name,
               'korean': korean,
               'english': english,
               'math': math}
    return student

In [14]:
stu1 = create_student('오쌤', 50, 70, 100)
stu1

{'english': 70, 'korean': 50, 'math': 100, 'name': '오쌤'}

In [15]:
def calc_total(student):
    total = student['korean'] + student['english'] + student['math']
    return total

In [16]:
calc_total(stu1)

220

In [17]:
def calc_mean(student):
    mean = calc_total(student) / 3
    return mean

In [19]:
calc_mean(stu1)

73.33333333333333

In [20]:
students = [
            create_student('Aaa', 100, 90, 80),
            create_student('Bbb', 50, 60, 70),
            create_student('Ccc', 90, 92, 98)
]
students

[{'english': 90, 'korean': 100, 'math': 80, 'name': 'Aaa'},
 {'english': 60, 'korean': 50, 'math': 70, 'name': 'Bbb'},
 {'english': 92, 'korean': 90, 'math': 98, 'name': 'Ccc'}]

In [21]:
for s in students:
    total = calc_total(s)
    mean = calc_mean(s)
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: Aaa, 총점: 270, 평균: 90.0
이름: Bbb, 총점: 180, 평균: 60.0
이름: Ccc, 총점: 280, 평균: 93.33333333333333

함수형 프로그래밍 방식의 문제점은 총점, 평균을 계산하는 함수들이 학생 dict(국어, 영어, 수학 점수)와 매우 밀접한 관계를 맺고 있다는 점.

서로 밀접한 관계를 가지고 있는 데이터(이름, 국어, 영어, 수학)들과 기능(함수: 평균, 총점 계산)들을 하나의 객체로 묶을 수 없을까?

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

*   객체(object): 프로그램으로 구현할 대상. 데이터 + 기능 ==> 자료구조.
*   클래스(class): 객체를 구현하기 위한 설계도. 프로그램 코드.
    *   특성, 속성(attribute, property): 객체가 가져야 하는 데이터. 변수에 저장되는 값.
    *   메서드(method): 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
    *   class = property + method
*   인스턴스(instance): 설계도인 클래스에 따라서 메모리에 생성된 객체.
*   인스턴스 생성(intanciate): 클래스의 인스턴스를 메모리에 적재하는 과정.
*   생성자(constructor): 인스턴스를 생성해 주는 함수. 클래스 이름과 동일.

In [27]:
# 클래스 정의
class Student:
    # 객체의 속성들을 초기화(저장)하는 함수 - 생성자를 호출하면 자동으로 호출되는 메서드.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 학생(Student) 객체의 기능 - 메서드 정의
    def calc_total(self):
        total = self.korean + self.english + self.math
        return total
    
    def calc_mean(self):
        mean = self.calc_total() / 3
        return mean

In [28]:
gildong = Student('홍길동', 100, 50, 90)  # 생성자 호출.
print(gildong)  # gildong 변수: 생성된 인스턴스의 주소값을 저장.
print(type(gildong))

<__main__.Student object at 0x7f79e839d150>
<class '__main__.Student'>

In [29]:
# 객체(인스턴스) 참조(reference): 인스턴스가 저장된 메모리 주소로 객체를 찾아가는 것.
print(gildong.name)
print(gildong.korean)
print(gildong.english)
print(gildong.math)

홍길동
100
50
90

In [30]:
print(gildong.calc_total())
print(gildong.calc_mean())

240
80.0