<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python08_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list와 for 반복문

In [1]:
numbers = [1, 10, 100, 1000]
# list의 값들을 순회(반복, iteration)
for x in numbers:
    print(x)

1
10
100
1000

In [2]:
# list의 index와 값들을 함께 순회(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 10
2 : 100
3 : 1000

*   빈 리스트(empty list)를 만듦.
*   리스트에 정수 난수 10개를 저장.
*   리스트에서 짝수들로만 이루어진 새로운 리스트를 만듦.
*   리스트에서 홀수들로만 이루어진 새로운 리스트를 만듦.

In [3]:
import random  # 난수를 사용하기 위한 모듈

In [8]:
numbers = []  # empty list
for _ in range(10):  # 10번 반복하면서
    # 0 이상 100 미만의 정수 난수를 리스트 numbers의 가장 마지막에 추가.
    numbers.append(random.randrange(100))
print(numbers)

[2, 20, 66, 83, 9, 59, 22, 30, 9, 32]

In [9]:
evens = []  # 짝수들만 저장할 리스트
odds = []  # 홀수들만 저장할 리스트
for x in numbers:  # 리스트 numbers의 원소들을 순회(iteration)하면서
    if x % 2 == 0:  # 리스트에서 꺼낸 원소가 짝수이면
        evens.append(x)
    else:  # 홀수이면
        odds.append(x)

print(evens)
print(odds)

[2, 20, 66, 22, 30, 32]
[83, 9, 59, 9]

*   integers 이름의 빈 리스트를 만듦.
*   리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장.
*   positives 이름의 빈 리스트를 만듦.
*   positives에는 integers의 원소가 양수이면 True, 그렇지 않으면 False를 저장.
*   positives를 출력.

In [12]:
integers = []  # 빈 리스트 생성
for _ in range(10):  # 10번 반복하면서
    # -10 이상 10 이하의 난수를 리스트에 추가.
    integers.append(random.randrange(-10, 11))

print(integers)

[10, -3, 1, -8, -5, -3, -4, 9, -5, 4]

In [13]:
positives = []  # True/False를 저장할 빈 리스트
for x in integers:  # 리스트 integers를 순회하면서
    if x > 0:
        positives.append(True)
    else:
        positives.append(False)

print(positives)

[True, False, True, False, False, False, False, True, False, True]

*   gender_codes 이름의 빈 리스트를 만듦.
*   gender_codes에 0 또는 1을 무작위로(랜덤하게) 10개를 저장.
*   gender 이름의 빈 리스트를 만듦.
*   gender에는 gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장.
*   gender를 출력.

In [17]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))

print(gender_codes)

[1, 0, 0, 1, 0, 0, 1, 1, 1, 0]

In [18]:
gender = []
for code in gender_codes:
    if code == 0:
        gender.append('Male')
    else:
        gender.append('Female')

print(gender)

['Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male']

# list comprehension(리스트 내포)

*   빈 리스트에 1부터 10까지 정수를 오름차순 순서로 저장.

In [19]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
numbers2 = [x for x in range(1, 11)]
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

*   `[1, 4, 9, 16, ..., 81, 100]`: 1~10 정수들의 제곱으로 이루어진 리스트

In [21]:
squares = []
for x in range(1, 11):
    squares.append(x ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
squares2 = [x ** 2 for x in range(1, 11)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

*   numbers 이름의 리스트에 [0, 100) 범위의 난수 10개를 저장

In [26]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

[73, 14, 3, 38, 91, 35, 38, 86, 80, 5]

*   numbers에 저장된 숫자들 중에서 짝수들로만 이루어진 리스트

In [27]:
evens = [x for x in numbers if x % 2 == 0]
print(evens)

[14, 38, 38, 86, 80]

In [42]:
# 문자열들의 리스트
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermellon']
# 문자열의 길이를 저장하는 리스트
fruit_lengths = [len(x) for x in fruits]
print(fruit_lengths)

[5, 6, 6, 6, 11]

*   [0, 100) 범위의 정수 난수 10개를 갖는 리스트를 만듦.
*   리스트의 원소가 짝수이면 'even', 홀수이면 'odd'를 갖는 리스트를 만듦.

In [44]:
# if-else expression(표현식)
n = 1
is_even = 'even' if n % 2 == 0 else 'odd'
print(is_even)

odd

In [47]:
n = 2
if n % 2 == 0:
    is_even = 'even'
else:
    is_even = 'odd'
print(is_even)

even

In [51]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

[49, 55, 11, 87, 87, 90, 72, 76, 8, 49]

In [49]:
result = ['even' if x % 2 == 0 else 'odd' 
          for x in numbers]
print(result)

['odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'even', 'odd', 'even', 'even']

*   0과 1이 랜덤하게 10개 저장된 리스트 만듦.
*   0이면 'Male', 1이면 'Female'을 저장하는 리스트를 만듦.

In [52]:
gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(gender_codes)
gender = ['Male' if x == 0 else 'Female'
          for x in gender_codes]
print(gender)

[1, 1, 1, 0, 0, 0, 1, 0, 1, 0]
['Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male']

*   numbers1: 10 미만의 0 또는 양의 정수 10개를 저장하고 있는 리스트.
*   numbers2: 10 미만의 0 또는 양의 정수 10개를 저장하고 있는 리스트.
*   adds: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리 더한 값을 저장하는 리스트.

In [56]:
numbers1 = [random.randrange(10) for _ in range(10)]
print(numbers1)

numbers2 = [random.randrange(10) for _ in range(10)]
print(numbers2)

# adds = []
# for i in range(10):
#     adds.append(numbers1[i] + numbers2[i])
adds = [numbers1[i] + numbers2[i] for i in range(10)]

print(adds)

[6, 6, 4, 4, 0, 5, 4, 1, 0, 7]
[3, 9, 0, 9, 5, 6, 1, 8, 0, 9]
[9, 15, 4, 13, 5, 11, 5, 9, 0, 16]

In [59]:
print(numbers1)
print(numbers2)
for x, y in zip(numbers1, numbers2):
    print(x, y, x + y)

[6, 6, 4, 4, 0, 5, 4, 1, 0, 7]
[3, 9, 0, 9, 5, 6, 1, 8, 0, 9]
6 3 9
6 9 15
4 0 4
4 9 13
0 5 5
5 6 11
4 1 5
1 8 9
0 0 0
7 9 16

In [60]:
adds = []
for x, y in zip(numbers1, numbers2):
    adds.append(x + y)

print(adds)

[9, 15, 4, 13, 5, 11, 5, 9, 0, 16]

In [61]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
print(adds)

[9, 15, 4, 13, 5, 11, 5, 9, 0, 16]

# 다차원 리스트

In [62]:
# 2차원 리스트: 1차원 리스트들을 원소로 갖는 리스트.
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2차원 리스트의 indexing

In [63]:
matrix[0]

[1, 2, 3]

In [64]:
matrix[0][0]

1

## 2차원 리스트에서 for 반복문

In [66]:
for row in matrix:
    for x in row:
        print(x, end='\t')
    print()

1	2	3
4	5	6
7	8	9

In [67]:
m1 = [[1, 2, 3],
      [4, 5, 6]]
m2 = [[1, 1, 1],
      [2, 2, 2]]
print(m1)
print(m2)

[[1, 2, 3], [4, 5, 6]]
[[1, 1, 1], [2, 2, 2]]

In [68]:
adds = []  # 리스트들을 저장하기 위한 빈 리스트
for row1, row2 in zip(m1, m2):
    plus = []  # 1차원 리스트 row1과 row2에서 같은 인덱스에 있는 원소들끼리 더한 값을 저장할 리스트.
    for x, y in zip(row1, row2):
        plus.append(x + y)
    adds.append(plus)

print(adds)

[[2, 3, 4], [6, 7, 8]]

In [69]:
adds = []
for row1, row2 in zip(m1, m2):
    plus = [x + y for x, y in zip(row1, row2)]
    adds.append(plus)

print(adds)

[[2, 3, 4], [6, 7, 8]]

In [70]:
adds = [[x + y for x, y in zip(row1, row2)]
        for row1, row2 in zip(m1, m2)]
print(adds)

[[2, 3, 4], [6, 7, 8]]