<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python14_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수(function)은 객체(object)이다.

*   함수는 변수에 할당(저장)할 수 있음.
*   함수의 argument로 다른 함수를 전달할 수 있음.

In [5]:
# 숫자는 객체(object)다. --> 숫자는 변수에 저장
x = 1
x

1

In [2]:
print(x)  # --> 숫자는 함수의 argument로 전달할 수 있음.

1

In [3]:
# 함수 정의
def twice(x):
    return 2 * x

In [7]:
twice  # 함수 호출 아님! twice 라는 이름의 객체를 콘솔창에 출력.

In [8]:
twice(2)  # 함수 호출.

4

In [11]:
result = twice(3)  # 함수 twice()의 호출 결과를 변수 result에 저장.
result

6

In [12]:
double = twice  # 함수 twice를 변수 double에 저장.
double

In [13]:
double(3)  # 변수 double은 함수이므로 호출할 수 있음.

6

In [15]:
def calculate(x, y, fn):
    """ fn(x, y)의 결과를 리턴.
    
    @param x: 숫자.
    @param y: 숫자.
    @param fn: 함수.
    """
    result = fn(x, y)
    return result

In [16]:
def plus(x, y):
    return x + y

In [17]:
calculate(1, 2, plus)
#> calculate 함수를 호출할 때 파라미터 fn에 plus 함수를 argument로 전달.

3

In [18]:
def minus(x, y):
    return x - y

In [19]:
calculate(1, 2, minus)

-1

# 람다 표현식(Lambda expression)

```
lambda param1, param2, ...: expression
```

*   이름이 없는 함수.
*   함수 이름을 만들지 않고, 함수의 파라미터 선언과 함수의 반환 값(식)만으로 함수를 정의 하는 방법.
*   간단하게 정의할 수 있는 함수를 변수(파라미터)에 저장하기 위한 용도.

In [20]:
plus_one = lambda x: x + 1  # argument x를 전달받아서 x+1을 리턴하는 함수.

In [23]:
plus_one(1)

2

In [24]:
plus = lambda x, y: x + y  # argument로 x, y를 전달받아서 x + y를 리턴하는 함수.

In [25]:
plus(1, 2)

3

In [26]:
# 람다 표현식은 argument로 다른 함수에 전달할 수 있음.
calculate(1, 2, lambda x, y: x + y)

3

In [27]:
calculate(1, 2, lambda x, y: x - y)

-1

## lambda 식을 argument로 전달받는 함수의 예

In [29]:
numbers = [1, -2, -3, 4, 5, -6]

In [31]:
# numbers 리스트에서 양수들로만 이루어진 리스트 --> filtering
result = filter(lambda x: x > 0, numbers)
list(result)  # filtering된 결과를 list로 만듦.

[1, 4, 5]

In [32]:
# number 리스트에서 짝수들로만 이루어진 리스트 --> filtering
result = filter(lambda x: x % 2 == 0, numbers)
list(result)

[-2, 4, -6]