<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python09_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

*   tuple: 저장된 원소들을 변경할 수 없는 리스트.
*   인덱스 기반의 데이터 타입.
    *   인덱스를 사용해서 저장된 원소를 참조.
    *   indexing, slicing
*   append, remove 등과 같은 메서드들이 제공되지 않음.

In [3]:
numbers = (1, 2, 3, 1, 2, 3, 1, 2)
print(numbers)
print(type(numbers))

(1, 2, 3, 1, 2, 3, 1, 2)
<class 'tuple'>

In [7]:
numbers.count(1)  # tuple numbers에서 값 1이 몇 번 등장하는 지를 리턴.

3

In [5]:
numbers.index(1)  # tuple numbers에서 값 1이 가장 처음 등장하는 인덱스를 리턴.

0

## indexing

In [8]:
print(numbers)

(1, 2, 3, 1, 2, 3, 1, 2)

In [9]:
numbers[0]  # tuple에서 첫번째 원소 참조

1

In [10]:
numbers[-1]  # tuple에서 마지막 원소 참조

2

## slicing

In [11]:
numbers[:3]  # tuple에서 앞에서 3개를 slicing

(1, 2, 3)

In [12]:
numbers[-3:]  # tuple에서 뒤에서 3개를 slicing

(3, 1, 2)

## decomposition(분해)

In [15]:
a, b = (1, 2)  # 튜플의 원소 개수만큼 변수를 선언.
print(a)
print(b)

1
2

In [16]:
x, y, z = [1, 2, 3]
print(x, y, z)

1 2 3

## tuple과 for 반복문

In [17]:
for x in (1, 2, 10, 20):
    print(x)

1
2
10
20

In [20]:
mat_tuple = ((1, 2),
             (3, 4),
             (5, 6))
for row in mat_tuple:
    for x in row:
        print(x, end='\t')
    print()

1	2
3	4
5	6

In [22]:
for x, y in mat_tuple:
    print(x, y, sep='\t')

1	2
3	4
5	6