<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python06_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

*   iterable-type: 순회(반복)이 가능한 데이터 타입.
    *   `str`, `range`, `list`, `tuple`, `dict`, ...
*   for 반복문은 iterable-type의 객체에서 원소들을 하나씩 꺼내서 변수에 저장하고, 코드 블록을 반복해서 실행.
*   iterable-type의 객체에서 더이상 꺼낼 원소가 없을 때 반복문이 종료.

In [1]:
1 in (1, 2, 3)

True

In [2]:
5 in (1, 2, 3)

False

In [3]:
'세' in '안녕하세요'

True

In [4]:
for x in '안녕하세요!':
    print(x)

안
녕
하
세
요
!

## `range()` 함수와 for loop

In [5]:
# range(start, stop, step): start <= x < stop 범위의 step(양수)만큼씩 증가하는 정수들을 생성.
for x in range(1, 5, 1):
    print(x)

1
2
3
4

In [6]:
# range(start, stop): start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(1, 5):  # (1, 2, 3, 4)
    print(x)

1
2
3
4

In [7]:
# range(stop): 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(5):  # (0, 1, 2, 3, 4)
    print(x)

0
1
2
3
4

In [8]:
# range(start, stop, step): start >= x > stop 범위의 step(음수)만큼씩 감소하는 정수들을 생성.
for x in range(5, 0, -1):  # (5, 4, 3, 2, 1)
    print(x)

5
4
3
2
1

*   0 이상 10 미만의 짝수들을 오름차순 출력

In [9]:
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

*   1 이상 9 이하의 홀수들을 내림차순으로 출력

In [11]:
for x in range(9, 0, -2):  # (9, 7, 5, 3, 1)
    print(x)

9
7
5
3
1

*   다음과 같이 출력하는 코드를 작성

```
*
**
***
****
*****
```

In [12]:
for n in range(1, 6):
    print('*' * n)

*
**
***
****
*****

*   다음과 같이 출력하는 코드를 작성

```
*****
****
***
**
*
```

In [13]:
for n in range(5, 0, -1):
    print('*' * n)

*****
****
***
**
*

In [14]:
# 구구단 2단을 출력
for n in range(1, 10):
    print(f'2 x {n} = {2 * n}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

## nested for loop(중첩 for 반복문)

In [15]:
# 구구단 2단부터 9단까지 출력
for x in range(2, 10):
    for y in range(1, 10):
        print(f'{x} x {y} = {x * y}')
    print('-' * 20)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

## `break`와 `continue`

*   `break`: iteration(반복)을 종료.
*   `continue`: (현재 작업을 멈추고,) 다음 iteration(반복)을 수행.

In [17]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [18]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

In [20]:
# 구구단 2단은 2x2까지, 3단은 3x3까지, ... 출력
for x in range(2, 10):
    for y in range(1, 10):
        print(f'{x} x {y} = {x * y}')
        if x == y:
            break
    print('-' * 20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

In [21]:
for x in range(2, 10):
    for y in range(1, x + 1):
        print(f'{x} x {y} = {x * y}')
    print('-' * 20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

# `print()` 함수

*   문자열을 출력할 때 함께 사용되는 특수 기호
    *   '\t': 탭(tab)
    *   '\n': 줄바꿈(new line)
*   `print()` 함수의 파라미터(parameter)
    *   `end`: print 함수의 argument들을 콘솔에 출력한 후 어떤 동작을 할 것인 지를 설정. 기본값은 줄바꿈('\n').
    *   `sep`: separator(구분자). print 함수의 argument들을 출력할 때, 각각의 argument들을 구분하기 위한 문자를 설정. 기본값은 공백 한 칸(' ').

In [23]:
print('안녕 Hello Bon Jour')

안녕 Hello Bon Jour

In [24]:
print('안녕\tHello\tBon Jour')

안녕	Hello	Bon Jour

In [25]:
print('안녕\nHello\nBon Jour')

안녕
Hello
Bon Jour

In [26]:
print('안녕', 'Hello', 123)

안녕 Hello 123

In [29]:
print('안녕', 'Hello', 123, sep=',')

안녕,Hello,123

In [30]:
print('안녕')
print('Hello')
print(123)

안녕
Hello
123

In [33]:
print('안녕', end='\t')
print('Hello')  # end='\n': 기본값
print(123)
print()

안녕	Hello
123

# Exercise

## 1. 아래와 같이 출력되는 코드를 작성하세요.

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [42]:
for n in range(1, 11):
    print(n, 'little', end=' ')
    if n % 3 == 0:
        print('indian')
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

## 2. 아래와 같이 출력되는 코드를 작성하세요.

```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
81 82 *  84 85 *  87 88 *  * 
*  *  *  *  *  *  *  *  *  100
```

In [50]:
for n in range(1, 101):
    if (n % 10 == 3) or (n % 10 == 6) or (n % 10 == 9):
        # 10으로 나눈 나머지는 1의 자리 숫자:
        # 1의 자리 숫자가 3 또는 6 또는 9 이면
        print('*', end='\t')
    elif (n // 10 == 3) or (n // 10 == 6) or (n // 10 == 9):
        # 10으로 나눈 몫은 10의 자리 숫자:
        # 10의 자리 숫자가 3 또는 6 또는 9 이면
        print('*', end='\t')
    else:
        print(n, end='\t')
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [59]:
for n in range(1, 101):
    n_str = str(n)  # 명시적 타입 변환: 정수 -> 문자열 변환
    if ('3' in n_str) or ('6' in n_str) or ('9' in n_str):
        print('*', end='\t')
    else:
        print(n, end='\t')
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100