<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python06_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

*   iterable-type: 순회(반복)이 가능한 데이터 타입.
    *   `str`, `range`, `list`, `tuple`, `dict`, ...
*   for 반복문은 iterable-type의 객체에서 원소들을 하나씩 꺼내서 변수에 저장하고, 코드 블록을 반복해서 실행.
*   iterable-type의 객체에서 더이상 꺼낼 원소가 없을 때 반복문이 종료.

In [1]:
1 in (1, 2, 3)

True

In [2]:
5 in (1, 2, 3)

False

In [3]:
'세' in '안녕하세요'

True

In [4]:
for x in '안녕하세요!':
    print(x)

안
녕
하
세
요
!

## `range()` 함수와 for loop

In [5]:
# range(start, stop, step): start <= x < stop 범위의 step(양수)만큼씩 증가하는 정수들을 생성.
for x in range(1, 5, 1):
    print(x)

1
2
3
4

In [6]:
# range(start, stop): start <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(1, 5):  # (1, 2, 3, 4)
    print(x)

1
2
3
4

In [7]:
# range(stop): 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(5):  # (0, 1, 2, 3, 4)
    print(x)

0
1
2
3
4

In [8]:
# range(start, stop, step): start >= x > stop 범위의 step(음수)만큼씩 감소하는 정수들을 생성.
for x in range(5, 0, -1):  # (5, 4, 3, 2, 1)
    print(x)

5
4
3
2
1

*   0 이상 10 미만의 짝수들을 오름차순 출력

In [9]:
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

*   1 이상 9 이하의 홀수들을 내림차순으로 출력

In [11]:
for x in range(9, 0, -2):  # (9, 7, 5, 3, 1)
    print(x)

9
7
5
3
1

*   다음과 같이 출력하는 코드를 작성

```
*
**
***
****
*****
```

In [12]:
for n in range(1, 6):
    print('*' * n)

*
**
***
****
*****

*   다음과 같이 출력하는 코드를 작성

```
*****
****
***
**
*
```

In [13]:
for n in range(5, 0, -1):
    print('*' * n)

*****
****
***
**
*