<a href="https://colab.research.google.com/github/JakeOh/202205_itw_bd34/blob/main/python05_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# while loop(반복문)

```
[초기화 문장]
while 조건식:
    조건식을 만족하는 동안에 반복할 코드 블록
    [조건을 변경할 수 있는 문장]
```

*   `while 조건식` 다음에는 반드시 콜론(:)을 사용.
*   조건식을 만족하는 동안에 블록 내부를 계속 반복 실행.
*   조건식을 만족하지 못하면 반복을 중지.

In [4]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [7]:
n = 1  # 초기화
while n <= 5:  # 변수 n의 값이 5보다 작거나 같은 동안에
    print(n)   # 변수 n의 값을 출력
    n += 1     # n = n + 1. 변수 n의 값을 1 증가.

1
2
3
4
5

In [8]:
# 5 4 3 2 1 출력
n = 5          # n은 5부터 시작.
while n >= 1:  # n의 값이 1보다 크거나 같은 동안 반복.
    print(n)   # n을 출력.
    n -= 1     # n의 값을 1 감소.

5
4
3
2
1

In [9]:
# 2 4 6 8 10 출력
n = 2
while n <= 10:
    print(n)
    n += 2

2
4
6
8
10

In [13]:
n = 2               # n은 2부 시작.
while n <= 10:      # n의 값이 10보다 작거나 같은 동안 반복.
    if n % 2 == 0:  # 만약에 n이 짝수이면(n을 2로 나눈 나머지가 0이면),
        print(n)    # n을 출력
    n += 1          # n의 값을 1 증가

2
4
6
8
10

In [14]:
# 9 7 5 3 1 출력
n = 9          # n은 9부터 시작.
while n >= 1:  # n의 값이 1보다 크거나 같은 동안에 반복.
    print(n)   # n을 출력.
    n -= 2     # n의 값을 2 감소.

9
7
5
3
1

In [15]:
n = 9
while n >= 1:
    if n % 2 == 1:  # n을 2로 나눈 나머지가 1이면(n이 홀수이면)
        print(n)    # 홀수일 때만 출력.
    n -= 1          # n이 짝수인 지 홀수인 지 상관없이 1 감소.

9
7
5
3
1

## `break`와 `continue`

*   `break`: 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문을 빠져 나옴.
*   `continue`: 다음 반복(iteration)을 수행. **continue 아래쪽의 문장들은 건너뛰고**, 다음 반복을 수행.

In [19]:
n = 1
while n <= 5:
    if n == 3:
        break
    print(n)
    n += 1

1
2

In [25]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)

1
2
4
5

## Exercise

구구단 9단을 아래와 같은 형식으로 출력하세요.

```
9 x 1 = 9
9 x 2 = 18
...
9 x 9 = 81
```

In [30]:
n = 1
while n < 10:
    print(f'9 x {n} = {9 * n}')
    n += 1

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 중첩 while 반복문 (nested while loop)

반복문 안에 또다른 반복문을 사용하는 것.

In [34]:
# 구구단을 2단부터 9단까지 출력
dan = 2
while dan < 10:
    print(f'--- {dan}단 ---')
    n = 1
    while n < 10:
        print(f'{dan} x {n} = {dan * n}')
        n += 1
    dan += 1

--- 2단 ---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--- 3단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--- 4단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--- 5단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--- 6단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--- 7단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--- 8단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--- 9단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## Exercises

### 1. 아래와 같이 출력하는 코드를 작성하세요.

```
*
**
***
****
*****
```

### 2. 아래와 같이 출력하는 코드를 작성하세요.

```
*****
****
***
**
*
```

### 3. 아래와 같이 출력하는 코드를 작성하세요.

```
*
**
***
****
*****
****
***
**
*
```

### 4. 아래와 같이 구구단을 출력하는 코드를 작성하세요.

```
2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
...
--------------------
9 x 1 = 9
...
9 x 9 = 81
--------------------
```